@import "../../styles/variables.scss";
@import "../../styles/responsive.scss";

.menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	position: relative;
	margin-top: 10px;
	height: 1000px;
	@include sm{
		position: fixed;
		background-color: $gray-50;
		top: 0;
		margin-top: 0;
		z-index: 11;
		width: max-content;
		gap: 15px;
		padding: 30px 1px;
		min-height: 100vh;
		right: -100%;
		overflow-x: hidden;
		width: 200px;
	}

	.logo{
		margin-bottom: 10px;
	}

    .item {
    	display: flex;
    	flex-direction: column;
		padding: 0 8px;
    	gap: 5px;
		@include sm{
			width: 100%;
			gap: 2px;
		}
		
    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 10px;
      border-radius: 5px 0 0 5px;
	  @include sm{
		padding: 0;
		gap: 3px;
	  }

      &:hover {
			color: $white;
			img{
			filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(-1000%) contrast(150%);
			}
		.listItemTitle{
			position: absolute;
			background-color: $dark;
			padding: 5px 20px;
			border-radius: 5px;
			color: $green;
			display: block;
			font-weight: bold;
			left: 80px;
			text-transform: uppercase;
			z-index: 10;
			@include sm{
				position: relative;
				color: $dark;
				padding: 0;
				border-radius: 0px;
				left: 0;
				background-color: transparent;
				text-transform: capitalize;
			}
		}
      }

      .listItemTitle{
		display: none;
        @include sm{
          display: block;
        }
      }
    }
  }
  .item.active{
		.listItem{
			.listItemTitle{
				color: $green !important;
				@include sm{
					font-weight: bold;
				}
			}
		.bar{
			height: 20px;
			width: 4px;
			background-color: $dark;
			position: absolute;
			right: -14px;
			border-radius: 5px 0 0 5px;
			@include sm{
				display: none;
			}
		}
			&:hover {
			filter: none;
	}
			filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(-1000%) contrast(150%);
      }
    }

  .theme_switch{
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: $white;
	padding: 8px 8px;
	border-radius: 30px;
	margin-top: 10px;
	@include sm{
		position: absolute;
		flex-direction: row;
		margin-top: 0px;
		padding: 3px 5px;
		top: 23px;
		left: 15px;
		img{
			width: 25px;
		}
	}
		.light{
			filter: invert(1000%) sepia(500%) saturate(400%) hue-rotate(120deg) brightness(160%) contrast(100%);
		}
	img{
		cursor: pointer;
		&:hover{
			filter: invert(1000%) sepia(500%) saturate(400%) hue-rotate(120deg) brightness(160%) contrast(100%);
		}

	}
  }
  .theme_switch.active{
		.light{
			filter: none;
		}
		.dark{
			filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(-1000%) contrast(150%);
		}
  }

  .menu_footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	bottom: 20px;
	gap: 20px;
	@include sm{
		position: relative;
		padding: 0;
		margin-top: 15px;
		gap: 10px;
		width: 200px;
	}
  }
}

.dark{
	.item .listItem{
		&:hover{
			img{
			filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(1000%) contrast(150%);;
		}
	}
	}
  .item.active{
		.listItem{
			.listItemTitle{
			}
		.bar{
			background-color: $green;
			position: absolute;
			right: -13px;
			border-radius: 5px 0 0 5px;
		}
			&:hover {
			filter: none;
	}
			filter: invert(200%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(1000%) contrast(150%);
      }
    }
	.theme_switch{
		background-color: $black;
	}
	  .theme_switch.active{
		.dark{
			filter: none;
		}
  }
}