@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.bigChartBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .wrapper{
	display: flex;
	justify-content: space-between;
	span{
		display: flex;
		align-items: center;
		gap: 15px;
		select{
			cursor: pointer;
			border-radius: 20px;
			padding: 6px 10px;
			background-color: transparent;
			outline: none;
			border: 1px solid $gray-200;
			
		}
		.down img{
			border: 2px solid red;
			 transition: transform 0.3s ease;
				transform: rotate(180deg);
			}
	}
  }

  h1{
    @include xxl{
      font-size: 24px;
    }
  
  }
}

