@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.topPlatform{
	.wrapper{
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		h4{
			cursor: pointer;
			color: $green;
			font-weight: normal;
		}
	}
	.container{
		display: flex;
		flex-direction: column;
		gap: 25px;
		div{
			display: flex;
			flex-direction: column;
			gap: 15px;
			span{
				display: flex;
				justify-content: space-between;
			}
		}
	}

.barCompleted {
  background-color: $gray-100;
  border-radius: 20px;
  width: 30%;
}
}